.card {
  width: 552px;
  display: flex;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 20px;
  padding: 16px 20px;
}

.card__tag {
  margin-top: 0;
  margin-bottom: 20px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.card__description {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 10px;
}

.card__content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.005em;
  color: rgba(51, 51, 51, 0.6);
}

.card__author {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.card__author-img {
  margin-right: 8px;
  border-radius: 50%;
}

.card__author-name {
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__published-time {
  flex-shrink: 0;
}

.card__poster {
  flex-shrink: 0;
  object-fit: cover;
}

.card__poster-img {
  height: 100%;
  display: block;
  object-fit: cover;
}
